<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>

            <h1> {{ todo_list_item.name }} </h1>
            <h2>Tasks</h2>
            <table>

                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                <tr>
                    <td> {{ todo_list_item.task }} </td>
                    <td> {{todo_list_item.due_date}} </td>
                </tr>
            </table>

        </div>
    </main>
</body>

</html>
