<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todo_list_item in todos_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' todo_list_item.id %}"> {{ todo_list_item.name }} </a></td>

                    <td> {{ item.num_of_items }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>

    </main>

</body>

</html>
